body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategray;
}
body main {
    text-align: center;
    line-height: 0.5;
}
body main h2 {
    color: snow;
    margin-top: 2px;
} 
body main p {
    color: yellow;
}
body main p img {
    transition: 1s;
}
.imgblock {
    border: 2px solid yellow;
    border-radius: 40px;
    width: 95%;
    background-color: rgb(67, 121, 107);
    margin-left: 40px;
    line-height: 2;
    padding: 25px 0;
    margin-top: 65px;
}
body main p img:hover {
    transform: scale(1.1);
}
#nav_left_top {
    position: fixed;
    left: 2px;
    top: 2px;
}
#nav_right_top {
    position: fixed;
    right: 2px;
    top: 2px;
}
body nav img:hover {
    transform: scale(0.8);
}
body nav img {
    transition: 1s;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: max-content;
    right: 0;
    top:0;
    background: rgb(84, 93, 102);
    color:rgb(216, 211, 211);
    border:1px solid yellowgreen;
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}
[data-tooltip]:hover::after, [data-tooltip2]:hover::after {
    opacity: 1;
    top: 5em;
    right: 4em;
}
[data-tooltip2]::after {
    content: attr(data-tooltip2);
    position: absolute;
    width: max-content;
    right: 0;
    top:0;
    background: rgb(84, 93, 102);
    color:rgb(216, 211, 211);
    border:1px solid yellowgreen;
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}
[data-tooltip2]:hover::after {
    left: 4em;
}