body {
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body p img {
    position: relative;
    top: 100px;
    left: 325px;
}
body article {
    border: 1.5px solid yellow;
    border-radius: 25px;
    width: 450px;
    padding: 5px;
    position: absolute;
    top:170px;
    right:325px;
}
.hide_imgs {
    position: absolute;
    top: 50px;
    left: 500px;
    visibility: hidden;
}
p strong:hover img{
    display: block;
    visibility: visible;
}
.font_green {
    color: yellowgreen;
}
body article p strong:hover {
    color: black;
    cursor: pointer;
}
[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 300px;
    left: 0;
    top:0;
    background: rgb(84, 93, 102);
    color:rgb(216, 211, 211);
    border:1px solid yellowgreen;
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}
[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
    left: 2em;
}
    